<!DOCTYPE html>
<html>
<head>
<title>{{company}}</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
  body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
  .sub_div { position: fixed; width: 100%; bottom: 0px;}
  .top{position: fixed; width: 100%; top: 0px;}
  .toppad{padding-top: 50px}
  .botpad{padding-bottom: 60px}
  div#frm *{display:inline}
</style>
</head>
<body class="w3-light-grey w3-content" style="max-width:1600px">

  <!-- Top Bar -->
  <div class="top w3-bar w3-white w3-wide w3-padding w3-card">
    <a  class="w3-bar-item w3-animate-left"><b>{{company}}</b></a>
    <!-- Float links to the right. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
      <a class="w3-bar-item w3-center">Welcome {{user}}</a>
    </div>
  </div>
<!-- Sidebar/menu -->
<nav class="w3-sidebar w3- w3-collapse w3-white w3-animate-left" style="z-index:0;width:300px;" id="mySidebar"><br>
  <div class="w3-bar-block">
    <a  class="w3-bar-item w3-animate-left w3-wide"><b>{{company}}</b></a>
    <a href="{{ url_for('index') }}" onclick="w3_close()" class="w3-bar-item w3-button w3-padding w3-text-teal"><i class="fa fa-user fa-fw w3-margin-right"></i>HOME</a>
    <a href="{{url_for('get_stories')}}" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i class="fa fa-solid fa-list fa-fw w3-margin-right"></i>STORYBOARD</a>
    <a href="{{url_for('new_story')}}" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i class="fa fa-solid fa-plus fa-fw w3-margin-right"></i>ADD NEW</a>
    <a href="{{ url_for('logout') }}" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i class="fa fa-solid fa-sign-out fa-fw w3-margin-right"></i>Logout</a>
  </div>
</nav>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px">

  <!-- Header -->
  <header id="portfolio">
    <span class="w3-button w3-hide-large w3-xxlarge w3-hover-text-grey" onclick="w3_open()"><i class="fa fa-bars"></i></span>
    <div class="toppad w3-container">
    <h1><b>Story-Board</b></h1>

    </div>
  </header>

    <!-- Backlog Table -->
    <div class="botpad w3-row-padding" style="margin:0 -16px">
      <div class="w3-third w3-margin-bottom">
        <ul class="w3-ul w3-border w3-white w3-center ">
          <li class="w3-black w3-xlarge w3-padding-32">Backlog</li>
          {% for story in stories %}
            {% if story.status == 'Backlog' %}
              <li class="w3-padding-16 w3-hover-opacity">
                <div id="frm">
                  <a href="{{url_for('get_details', story_id = story.id)}}" class="w3-padding" style="text-decoration:none">{{story.title}}</a>
                  <a href="{{url_for('update', story_id = story.id)}}" style="text-decoration:none"><i class="fa fa-solid fa-edit fa-fw "></i></a>
                  <form action="{{url_for('delete', story_id = story.id)}}" method="post">
                    <button type="submit" style="color:red; border:grey; background:transparent;">x</button>
                  </form>
                </div>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
      <div class="w3-third w3-margin-bottom">
        <ul class="w3-ul w3-border w3-white w3-center ">
          <li class="w3-teal w3-xlarge w3-padding-32">Doing</li>
          {% for story in stories %}
            {% if story.status == 'Doing' %}
              <li class="w3-padding-16 w3-hover-opacity">
                <div id="frm">
                  <a href="{{url_for('get_details', story_id = story.id)}}" class="w3-padding" style="text-decoration:none">{{story.title}}</a>
                  <a href="{{url_for('update', story_id = story.id)}}" style="text-decoration:none"><i class="fa fa-solid fa-edit fa-fw "></i></a>
                  <form action="{{url_for('delete', story_id = story.id)}}" method="post">
                    <button type="submit" style="color:red; border:grey; background:transparent;">x</button>
                  </form>
                </div>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>

      <div class="w3-third">
        <ul class="w3-ul w3-border w3-white w3-center ">
          <li class="w3-black w3-xlarge w3-padding-32">Done</li>
          {% for story in stories %}
            {% if story.status == 'Done' %}
              <li class="w3-padding-16 w3-hover-opacity">
                <div id="frm">
                  <a href="{{url_for('get_details', story_id = story.id)}}" class="w3-padding" style="text-decoration:none">{{story.title}}</a>
                  <a href="{{url_for('update', story_id = story.id)}}" style="text-decoration:none"><i class="fa fa-solid fa-edit fa-fw "></i></a>
                  <form action="{{url_for('delete', story_id = story.id)}}" method="post">
                    <button type="submit" style="color:red; border:grey; background:transparent;">x</button>
                  </form>
                </div>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>




<!-- End page content -->
</div>
  <div class="sub_div">
  <div class="w3-black w3-center w3-padding-24">Powered by <a title="Tang" target="_blank" >{{company}}</a></div>
  </div>
<script>
// Script to open and close sidebar
function w3_open() {
    document.getElementById("mySidebar").style.display = "block";
    document.getElementById("myOverlay").style.display = "block";
}

function w3_close() {
    document.getElementById("mySidebar").style.display = "none";
    document.getElementById("myOverlay").style.display = "none";
}
</script>

</body>
</html>
