  <!DOCTYPE html>
<html>
<head>
<title>{{company}}</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
  body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
  .sub_div { position: fixed; width: 100%; bottom: 0px;}
</style>
</head>
<body class="w3-white w3-content" style="max-width:1600px">

  <!-- Top Bar -->
  <div class="z-index:1; w3-bar w3-white w3-wide w3-padding w3-card">
    <a  class="w3-bar-item w3-animate-left"><b>{{company}}</b></a>
    <!-- Float links to the right. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
      <a class="w3-bar-item w3-center">Welcome {{user}}</a>
    </div>
  </div>
<!-- Sidebar/menu -->
<nav class="w3-sidebar w3- w3-collapse w3-white w3-animate-left" style="z-index:0;width:300px;" id="mySidebar"><br>
  <div class="w3-bar-block">
    <a href="{{ url_for('index') }}" onclick="w3_close()" class="w3-bar-item w3-button w3-padding w3-text-teal"><i class="fa fa-user fa-fw w3-margin-right"></i>HOME</a>
    <a href="{{url_for('get_stories')}}" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i class="fa fa-solid fa-list fa-fw w3-margin-right"></i>STORYBOARD</a>
    <a href="{{url_for('new_story')}}" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i class="fa fa-solid fa-plus fa-fw w3-margin-right"></i>ADD NEW</a>
      <a href="{{ url_for('logout') }}" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i class="fa fa-solid fa-sign-out fa-fw w3-margin-right"></i>Logout</a>
  </div>
</nav>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px">

  <!-- Header -->
<div class="  w3-wide w3-padding w3-transparent"></div>
  <div class="  w3-wide w3-padding w3-transparent"></div>

    <!-- Story detail -->
    {% if story %}
      <form action="{{url_for('update', story_id = story.id)}}" method="post">
    {% else %}
      <form action="new" method="post">
    {% endif %}
        <div class="w3-container">
          <div class="w3-container  w3-center  w3-card width:500px">
            <h2 class="w3-wide">{% if story %} Update Story {% else %} Add a Story {% endif %}</h2>
          {% if story %}
            <p><input class="w3-input w3-border" type="text" name="title" value ={{story.title}}></p>
            <p><textarea class="w3-input w3-border" rows="6" type="text" name="noteText">{{story.text}}</textarea></p>
          {% else %}
            <p><input class="w3-input w3-border" type="text" name="title" placeholder="Feature title"></p>
            <p><textarea class="w3-input w3-border" rows="6" type="text" name="noteText" placeholder="Description"></textarea></p>
          {% endif %}

              <div class=" w3-container w3-left">
              <p>Status of the story:</p>
              {% if story %}
              <input  {% if story.status == 'Backlog' %} checked {% endif %} class=" w3-left" type="radio" id="backlog" name="status" value="Backlog">
              <label class=" w3-left w3-margin-left" for="backlog">Backlog</label><br>

              <input {% if story.status == 'Doing' %} checked {% endif %} class=" w3-left" type="radio" id="doing" name="status" value="Doing">
              <label class=" w3-left w3-margin-left" for="doing">Doing</label><br>

              <input {% if story.status == 'Done' %} checked {% endif %} class=" w3-left" type="radio" id="done" name="status" value="Done">
              <label class=" w3-left w3-margin-left" for="done">Done</label><br>
              {% else %}
                <input  class=" w3-left" type="radio" id="backlog" name="status" value="Backlog">
              <label class=" w3-left w3-margin-left" for="backlog">Backlog</label><br>

              <input class=" w3-left" type="radio" id="doing" name="status" value="Doing">
              <label class=" w3-left w3-margin-left" for="doing">Doing</label><br>

              <input class=" w3-left" type="radio" id="done" name="status" value="Done">
              <label class=" w3-left w3-margin-left" for="done">Done</label><br>
              {% endif %}
            </div>
            <div class="w3-container">
                {% if story %}
                    <button type="submit" class=" w3-button w3-padding-large w3-teal w3-margin-bottom " onclick="document.getElementById('subscribe').style.display='none'">UPDATE</button>
                {% else %}
                    <button type="submit" class=" w3-button w3-padding-large w3-teal w3-margin-bottom " onclick="document.getElementById('subscribe').style.display='none'">ADD</button>
                {% endif %}
            </div>
          </div>
        </div>
      </form>

<!-- End page content -->
</div>
  <div class="sub_div">
  <div class="w3-black w3-center w3-padding-24">Powered by <a title="Tang" target="_blank" >{{company}}</a></div>
  </div>
<script>
// Script to open and close sidebar
function w3_open() {
    document.getElementById("mySidebar").style.display = "block";
    document.getElementById("myOverlay").style.display = "block";
}

function w3_close() {
    document.getElementById("mySidebar").style.display = "none";
    document.getElementById("myOverlay").style.display = "none";
}
</script>

</body>
</html>
