 <!DOCTYPE html>
<html>
<head>
<title>{{company}}</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='image.css') }}">
<style>
  body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
  .sub_div { position: fixed; width: 100%; bottom: 0px;}
</style>
</head>
<body class="w3-white w3-content" style="max-width:1600px">

  <!-- Top Bar -->
  <div class="w3-bar w3-white w3-wide w3-padding w3-card">
    <a  class="w3-bar-item w3-animate-left"><b>{{company}}</b></a>
    <!-- Float links to the right. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
      <a class="w3-bar-item w3-center">Welcome {{user}}</a>
    </div>
  </div>
<!-- Sidebar/menu -->
<nav class="w3-sidebar w3- w3-collapse w3-white w3-animate-left" style="z-index:0;width:300px;" id="mySidebar"><br>
  <div class="w3-bar-block">
    <a href="{{ url_for('index') }}" onclick="w3_close()" class="w3-bar-item w3-button w3-padding w3-text-teal"><i class="fa fa-user fa-fw w3-margin-right"></i>HOME</a>
    <a href="{{url_for('get_stories')}}" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i class="fa fa-solid fa-list fa-fw w3-margin-right"></i>STORYBOARD</a>
    <a href="{{url_for('new_story')}}" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i class="fa fa-solid fa-plus fa-fw w3-margin-right"></i>ADD NEW</a>
    <a href="{{ url_for('logout') }}" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i class="fa fa-solid fa-sign-out fa-fw w3-margin-right"></i>Logout</a>
  </div>
</nav>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px">

    <!-- Story detail -->
<div class="w3-container w3-padding-large" style="margin-bottom:32px">
    <h3><b>{{story.title}}</b></h3>
    <p>{{story.text}}</p>
    <h6><b>Status of the story: </b><b style="color:teal">{{story.status}}</b></h6>

<!--    Image Display  -->
    <img id="myImg" src="{{ image_file }}" style="width:100%;max-width:200px">

    <!-- The Modal -->
    <div id="myModal" class="modal">
      <span class="close">&times;</span>
      <img class="modal-content" id="img01">
      <div id="caption"></div>
    </div>

    <br></br>
    <!--View for the subscribers-->
    <div class="w3-card w3-padding-large">
    {% if story.subscribers %}
      {% if story.subscribers|length > 0 %}
        <h5>Subscribers</h5>
        <ul>
        {% for subscriber in story.subscribers %}
          <li>{{ subscriber.email }}</li>
        {% endfor %}
        </ul>
        <hr>
      {% endif %}
    {% endif %}
    <form action="{{ url_for('subscriber', story_id=story.id) }}" method="post">

      <div>
        <div class="form-field ">
          {{ formSubs.email.label }}: {{ formSubs.email }} {{ formSubs.submit }}
            {% if formSubs.email.errors %}
            <ul class="errors">
                {% for error in formSubs.email.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
      </div>
    </form>
    </div>
    <br>
    <!--View for the comment-->
    <div class="w3-card w3-padding-large ">
    {% if story.comments %}
      {% if story.comments|length > 0 %}
        <h4>Comments</h4>
        <ul>
        {% for comment in story.comments %}
          <li>{{ comment.content }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endif %}
    <form action="{{ url_for('new_comment', story_id=story.id) }}" method="post">
        <h5>Add a comment</h5>
        <div class="form-field">
        {{ form.comment }}
        </div>
        {{ form.submit }}
    </form>
    </div>
    <div class="w3-padding-32"></div>
</div>

<!-- End page content -->
</div>
  <div class="sub_div">
  <div class="w3-black w3-center w3-padding-24">Powered by <a title="Tang" target="_blank" >{{company}}</a></div>
  </div>
<script>
// Script to open and close sidebar
function w3_open() {
    document.getElementById("mySidebar").style.display = "block";
    document.getElementById("myOverlay").style.display = "block";
}

function w3_close() {
    document.getElementById("mySidebar").style.display = "none";
    document.getElementById("myOverlay").style.display = "none";
}
// Get the modal
    var modal = document.getElementById("myModal");

    // Get the image and insert it inside the modal - use its "alt" text as a caption
    var img = document.getElementById("myImg");
    var modalImg = document.getElementById("img01");
    var captionText = document.getElementById("caption");
    img.onclick = function(){
      modal.style.display = "block";
      modalImg.src = this.src;
      captionText.innerHTML = this.alt;
    }

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
      modal.style.display = "none";
    }
</script>
</body>
</html>
